#booksGrid .card {
    transition: transform 0.2s, box-shadow 0.2s;
}

#booksGrid .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#booksGrid .card-img-top {
    object-fit: cover;
    aspect-ratio: 16/9;

    @media (max-width: 991px) {
        aspect-ratio: 4/3;
    }

    @media (max-width: 575px) {
        aspect-ratio: 1/1;
    }
}